body {
     background-image:url("../images/tweed.png");
     background-repeat: repeat;
     
  	 
}
.opacity{
	background: rgba(191, 191, 191, 0.9); 
}
.big{
	font-size:200%;
}

.jumbotron-special{
    background-color:#f39c12;
    padding:0px;
    margin:0px;
    border-radius:0px; 
}

.wrapper{width:30%;margin:0 auto;text-align:left;}

.move-down{
	margin-top:50px;
}
.move-down2{
	margin-top:40px;
}
@font-face{
	font-family: timeFont;
	src:url("../Font/KozGoPro.otf"); 
}
 .timeFont{
	font-family: timeFont;
 }
 .opacity1{
	opacity: 0.6; 
}

.black{
	background: rgb(0, 0, 0); 
   	background: rgba(0, 0, 0, 0.6);
}

.white{
	color: #ffffff;
}
.grey{
	color: #999;
}
textarea {
   resize: none;
}
.black{
	color: #000;
}
a:hover { 
	color: #999; 
}

@font-face{
	font-family: avenir;
	src:url("../Font/Avenir.ttc"); 
}

 .avenir{
	font-family: avenir;
 }