@(title: String) @main(title){

<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/datepicker.css")">

<script src="@routes.Assets.at("javascripts/bootstrap-datepicker.js")" type="text/javascript"></script>


<form method="post" action="@routes.Application.uploadData()">
	<div class="row">
		<div class="jumbotron black">

			<div class="row">
				<div class="col-md-4 hero-spacer">
					<input type="text" name="tittel" class="form-control"
						placeholder="Tittel">
				</div>
				<div class="col-md-4 hero-spacer">
					<input type="text" name="sted" class="form-control"
						placeholder="Sted">
				</div>
					<div class="col-md-4 hero-spacer">
					<input type="text" name="bedriftsNavn" class="form-control"
						placeholder="Bedriftsnavn">
				</div>

			</div>
			<br>

			<div class="row">
				<div class="col-md-4 hero-spacer">
					<input type="text" name="kontaktNavn" class="form-control"
						placeholder="Kontaktperson">
				</div>
				<div class="col-md-4 hero-spacer">
					<input type="text" name="kontaktEmail" class="form-control"
						placeholder="Kontakt mail">
				</div>
			<div class="col-md-4 hero-spacer">
					<input type="text" name="url" class="form-control"
						placeholder="URL">
				</div>
			</div>
			<br>

			

			<br>
			<div class="row">
				<div class="col-md-12 hero-spacer">
					<textarea class="form-control" name="info" rows="5"
						placeholder="Info"></textarea>
				</div>
			</div>

			<br>

			<div class="row">
<div class="col-md-1 hero-spacer">
					<h5 class="white">1.klasse</h5>
					<input type="checkbox" name="1.klasse" value="1">
				</div>
				<div class="col-md-1 hero-spacer">
					<h5 class="white">2.klasse</h5>
					<input type="checkbox" name="2.klasse" value="1">
				</div>
				<div class="col-md-1 hero-spacer">
					<h5 class="white">3.klasse</h5>
					<input type="checkbox" name="3.klasse" value="1">
				</div>
				<div class="col-md-1 hero-spacer">
					<h5 class="white">4.klasse</h5>
					<input type="checkbox" name="4.klasse" value="1">
				</div>
				<div class="col-md-1 hero-spacer">
					<h5 class="white">5.klasse</h5>
					<input type="checkbox" name="5.klasse" value="1">
				</div>

			</div>
			<br>
						<div class="row">
				<div class="col-md-2 hero-spacer">
					<h5 class="white">Sommerjobb</h5>
					<input type="checkbox" name="Sommerjobb" value="1">
				</div>
				<div class="col-md-1 hero-spacer">
					<h5 class="white">Deltid</h5>
					<input type="checkbox" name="Deltid" value="1">
				</div>
				<div class="col-md-1 hero-spacer">
					<h5 class="white">Fulltid</h5>
					<input type="checkbox" name="Fulltid" value="1">
				</div>	
			</div>
				<br>
							<div class="row">
				<div class="col-md-1 hero-spacer">
					<h5 class="white">Data</h5>
					<input type="checkbox" name="Data" value="1">
				</div>
				<div class="col-md-1 hero-spacer">
					<h5 class="white">Mekatronikk</h5>
					<input type="checkbox" name="Mekatronikk" value="1">
				</div>
				<div class="col-md-1 hero-spacer">
					<h5 class="white">Fornybar</h5>
					<input type="checkbox" name="Fornybar" value="1">
				</div>
				<div class="col-md-1 hero-spacer">
					<h5 class="white">Byggdesign</h5>
					<input type="checkbox" name="Byggdesign" value="1">
				</div>
				<div class="col-md-1 hero-spacer">
					<h5 class="white">Elektronikk</h5>
					<input type="checkbox" name="Elektronikk" value="1">
				</div>
				<div class="col-md-1 hero-spacer">
					<h5 class="white">Indøk</h5>
					<input type="checkbox" name="Indok" value="1">
				</div>

			</div>
			<br>
			<div class="row">
				<div class="col-md-2 hero-spacer">			
			 		<div class="container">
            			<div class="hero-unit">
                			<input  type="text" name ="frist" class="form-control" placeholder="Frist"  id="example1">
            			</div>
        			</div>
        		<!-- Load jQuery and bootstrap datepicker scripts -->
        		<script src="js/jquery-1.9.1.min.js"></script>
        		<script src="js/bootstrap-datepicker.js"></script>
       				 <script type="text/javascript">
            			$(document).ready(function () {
               				 $('#example1').datepicker({
                    		format: "yyyy-mm-dd"
               			 });  
            
            			});
        			</script>		
				</div>
				<div class="col-md-2 hero-spacer">
					<input type="text" name="varighet" class="form-control"
						placeholder="Varighet">
				</div>
			
			</div>

			<br>
			</t>
			<div class="row">
				<div class="col-md-4 hero-spacer">
					<button type="submit" class="btn btn-default">Legg til</button>
				</div>

				<br>
			</div>

		</div>
	</div>
</form>
}


