@(title: String) @main(title){

<div class="row move-down">
	<div class="col-md-10 col-xs-10 hero-spacer"></div>
	<div class="jumbotron black">
 <form type="input" method="get">
		<div class="row">
			<div class="col-md-4 hero-spacer">
				<input type="text" class="form-control" placeholder="Tittel">
			</div>
			<div class="col-md-4 hero-spacer">
				<input type="text" class="form-control" placeholder="Sted">
			</div>
			<div class="col-md-4 hero-spacer">
				<input type="text" class="form-control" placeholder="Jobbtype">
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-4 hero-spacer">
				<input type="text" class="form-control" placeholder="Kontaktperson">
			</div>
			<div class="col-md-4 hero-spacer">
				<input type="text" class="form-control" placeholder="Kontakt mail">
			</div>
			<div class="col-md-4 hero-spacer">
				<input type="text" class="form-control" placeholder="Kontakt tlf">
			</div>
		</div>
		<br></t>
		<div class="row">
		<div class="col-md-4 hero-spacer">
				<button type="submit" class="btn btn-primary">Legg til</button>
			</div>
			
		</div>
</form>
	</div>
</div>
</div>

}
