@(json: String, title: String)
@main(json){



<html ng-app="phonecatApp">

	
	<head>
  		<meta charset="utf-8">
<script type="text/javascript" language="JavaScript">

var phonecatApp = angular.module('phonecatApp', []);
phonecatApp.controller('PhoneListCtrl', function($scope) {
$scope.phones = $.parseJSON($(document).find("title").text());
$scope.orderProp = 'age';
});

</script>
	
	</head>
	
	<body ng-controller="PhoneListCtrl">

<div class="row">

<div class="col-md-3">
<select class="selectpicker" multiple title='Årstrinn' data-selected-text-format="count>3"> 
      <option>1.Klasse</option>
      <option>2.Klasse</option>
      <option>3.Klasse</option>
      <option>4.Klasse</option>
      <option>5.Klasse</option>
  </select>
</div>

<div class="col-md-3">
<select class="selectpicker" multiple title='Jobbtype' data-selected-text-format="count>3"> 
      <option>Fulltid</option>
      <option>Deltid</option>
      <option>Sommerjobb</option>
  </select>
</div>

<div class="col-md-3">
<select class="selectpicker" multiple title='Utdanning' data-selected-text-format="count>2" data-live-search="true"> 
      <option>Data</option>
      <option>Byggdesign</option>
      <option>Mekatronikk</option>
      <option>Elektronikk</option>
      <option>Fornybar</option>
  </select>
</div>

</div>

<br>





<div class="jumbotron black">
<div class="row">
 <div ng-repeat="phone in phones | filter:query | orderBy:orderProp" style="float:left">
  <div class="col-md-12">
 <h2><a class="white" href="/detail?id={{phone.annonseId}}">{{phone.tittel}}</a></h2>
 <table class="table table-condensed white" >
					<tbody>
						<tr>
							<td>Bedrift</td>
							<th>{{phone.bedriftsNavn}}</th>
						</tr>
						<tr>
							<td>Sted</td>
							<th>{{phone.sted}}</th>
						</tr>
					</tbody>
				</table>
</div> 
 
 </div>
</div>
</div>

	</body>
	
 
	
	
	
</html>

}