@(title: String, divInfo: List[String], linje: List[String], stilling: List[String], trinn: List[String])
@main(title){

<div class="jumbotron black">
<div class="row">
<div class="col-md-4 hero-spacer">
<h4 class="white">Info</h4>
<table class="table table-condensed white" id="table">
					<tbody>
						<tr>
							<td>Firmanavn</td>
							<th>@divInfo.get(5)</th>
						</tr>
						<tr>
							<td>Stillingstype</td>
							<th>@for(i <- 0 until stilling.length) {
              					@Html(stilling.get(i))
             					 <br>
             			}</th>
						</tr>
						<tr>
							<td>Krevet utdanning</td>
							<th> @for(i <- 0 until linje.length) {
              					@Html(linje.get(i))
             					 <br>
             			}</th>
						</tr>
						<tr>
							<td>Krevet årstrinn</td>
							<th>@for(i <- 0 until trinn.length) {
              					@Html(trinn.get(i))
             					 <br>
             			}</th>
						</tr>
						<tr>
							<td>Arbeidssted</td>
							<th>@divInfo.get(1)</th>
						</tr>
						<tr>
							<td>Varighet</td>
							<th>@divInfo.get(6) uker</th>
						</tr>
						<tr>
							<td>Søknadsfrsit</td>
							<th>@divInfo.get(2)</th>
						</tr>
					</tbody>
				</table>
</div>


<div class="col-md-7 hero-spacer" style="margin-left:2em">

	<div class="white">
	<h1>@divInfo.get(0)</h1>
	<h4>@divInfo.get(4)</h4>
	</div>

</div>

</div>

<div class="row">
<div class="col-md-4 hero-spacer">

<h4 class="white">Kontakt</h4>
<table class="table table-condensed white" id="table">
					<tbody>
						<tr>
							<td>Kontaktperson</td>
							<th></th>
						</tr>
						<tr>
							<td>Mail</td>
							<th></th>
						</tr>
						<tr>
							<td>Url</td>
							<th><a href=@divInfo.get(7)>Link</a></th>
						</tr>
					</tbody>
				</table>

</div>
</div>
</div>
}
