@(title: String)
@main(title){

<div class="row move-down">
	<div class="col-md-4 col-xs-4 hero-spacer"></div>
	<div class="col-md-4 col-xs-12 hero-spacer">
	
	<div class="jumbotron black">
	<legend><span class="timeFont white"><h3>Logg inn</h3></span></legend>
	
<input type="text" class="form-control" placeholder="Bruker">
<br>
<input type="password" class="form-control" placeholder="Passord">
<br>
<button type="submit" class="btn btn-primary">Logg på</button>
<input type="button" onclick="indexRedirect()" value="Avbryt" class="btn btn-danger">
	</div>  
	</div>
</div>
}